{
  "printWidth": 100,
  " bracketSpacing": true,
  "trailingComma": "all",
  "arrowParens": "always",
  "proseWrap": "never",
  "singleQuote": true,
  "overrides": [
    {
      "files": "**/*.json",
      "options": {
        "printWidth": 100,
        " bracketSpacing": true,
        "trailingComma": "all",
        "arrowParens": "always",
        "proseWrap": "never",
        "singleQuote": true,
        "arrayPragmaLines": 1
      }
    }
  ]
}
